#mv-tiles {
    -webkit-user-select: none;
    font-size: 0;
    height: calc(146px + 130px);
    line-height: 146px;
    margin: 0;
    opacity: 0;
    position: absolute;
    text-align: -webkit-auto;
    transition: opacity 1s;
}

.mv-tile {
    background: #e8e8e8;
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 12px;
    height: calc(160px - 2px);
    line-height: 100%;
    margin: 15px;
    opacity: 1;
    outline: 0;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    /*white-space: nowrap; hace que el texto no haga salto de linea*/
    width: calc(160px - 2px);
    cursor: pointer;
    transition-duration: 200ms;
    transition-property: transform, border, box-shadow, margin, opacity, width;
    border: 1px solid #b1c760;
}

.mv-tile-add {
    background: #e8e8e8;
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 80px;
    height: calc(160px - 2px);
    line-height: 100%;
    margin: 15px;
    opacity: 1;
    outline: 0;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    /*white-space: nowrap; hace que el texto no haga salto de linea*/
    width: calc(160px - 2px);
    cursor: pointer;
    transition-duration: 200ms;
    /*transition-property: transform, border, box-shadow, margin, opacity, width;*/
    text-align: center;
    color: #959595;
    /*border: 1px solid #b1c760;*/
}

.mv-title-add {
    color: #B1C760;
    height: 50%;
    margin-top: 18%;
    transition-property: transform, border, box-shadow, margin, opacity, width;
}

.mv-title {
    -webkit-mask-image: linear-gradient(to right, #000, #000, 100px, transparent);
    border: none;
    height: 15px;
    left: 31px;
    line-height: 14px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-overflow: clip;
    top: 8px;
    width: calc(156px - 32px - 4px);
}

.mv-thumb {
    border: none;
    border-radius: 0;
    cursor: pointer;
    display: block;
    height: 100%;
    left: 3px;
    overflow: hidden;
    position: absolute;
    top: 31px;
    width: 100%;
    line-height: 1.5;
}

.mv-thumb img {
    height: auto;
    min-height: 100%;
    width: 100%;
}

a, a:active, a:visited {
    color: inherit;
    text-decoration: none;
}
a:hover {
    background-color: #f7f7f7;
}

a.mv-title-add:hover {
    background-color: #f7f7f7;
    color: #adadad;
}

.mv-favicon {
    background-size: 16px;
    height: 16px;
    left: 7px;
    margin: 0;
    pointer-events: none;
    position: absolute;
    top: 7px;
    width: 16px;
}

.mv-favicon img {
    height: 100%;
    width: 100%;
}
